@font-face {
  font-family: Gilroy;
  src: url('../src/assets/font/Gilroy-Regular.otf');
}
@import 'tailwindcss';

@theme {
  --color-purple: #8a66f1;
}
body {
  font-family: Gilroy, 'sans-serif';
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.mon-sec-head {
  border: solid rgb(128, 128, 128, 0.2) 0.1rem;
  border-radius: 3rem;
  color: #939393;
}
.mon-sec-head::before {
  content: '';
  background-color: #8a66f1;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  display: inline-block;
  /* vertical-align: baseline; */
  margin-right: 0.3rem;
}
 .content-box {
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
} 
.end-content-box{
   border-bottom-left-radius: 0.8rem;
   border-bottom-right-radius: 0.8rem;
}
@media (min-width: 1024px) {
  .end-content-box {
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
   
  }
}
.review-box{
 box-shadow: 4px 12px 30px rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
}

.swiper-button-next{
  color: #292929 !important;
  background-color: white;
  border: solid #595959 2px;
  border-radius: 5rem;
   padding: 1.3rem;
  right: 1% !important;
  position: absolute;
  top: 75% !important;
  cursor: pointer;
  font-weight: 900;
  
}
.swiper-button-prev {
  color: #292929 !important;
  background-color: white;
  border: solid #595959 2px;
  border-radius: 5rem;
  padding: 1.3rem;
  left: 1% !important;
  position: absolute;
  top: 75% !important;
  cursor: pointer;
  font-weight: 900;
  
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 15px !important; 
}
@media (min-width: 640px) {
  .swiper-button-next{
  color: #292929 !important;
  background-color: white;
  border: solid #595959 2px;
  border-radius: 5rem;
   padding: 1.3rem;
  right: 8% !important;
  position: absolute;
  top: 75% !important;
  cursor: pointer;
  font-weight: 900;
  
}
.swiper-button-prev {
  color: #292929 !important;
  background-color: white;
  border: solid #595959 2px;
  border-radius: 5rem;
  padding: 1.3rem;
  left: 8% !important;
  position: absolute;
  top: 75% !important;
  cursor: pointer;
  font-weight: 900;
  
}
}
@media (min-width: 1024px) {
  .swiper-button-next{
  color: #292929 !important;
  background-color: white;
  border: solid #595959 1px;
  /* border-radius: 5rem; */
  border-radius: 50%; 
  right: 23% !important;
  position: absolute;
  top: 75% !important;
  cursor: pointer;
  font-weight: 900;
  
}
.swiper-button-prev {
  color: #292929 !important;
  background-color: white;
  border: solid #595959 1px;
 padding: 1.3rem;
  border-radius: 50%; 
  left: 23% !important;
  position: absolute;
  top: 75% !important;
  cursor: pointer;
  font-weight: 900;
  
}


.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 15px !important; 
}
}

.pricing-box-title{
  color: #595959;
  font-size: 1.2rem;
  border: solid 0.1rem #858484;
  border-radius: 3rem;
  padding: 0.2rem 1.5rem;
  width: fit-content;
  font-weight: 600;
}
.pricing-box-title-purple{
    color: #ffff;
  font-size: 1.2rem;
  border: solid 0.1rem #eeeded;
  border-radius: 3rem;
  padding: 0.2rem 1.5rem;
  width: fit-content;
  font-weight: 600;
}
.border-div{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.sub-border-div{
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center;
   width: 97%;
}
.border-div::before{
  content: '';
  position: absolute;
  border: solid 1px #9e9d9d;
  width: 95%;
  top: 0;
}
.border-div::after{
  content: '';
  position: absolute;
  border: solid 1px #9e9d9d;
  width: 95%;
  bottom: 0;
}
.border-div-purple{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.sub-border-div-purple{
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center;
   width: 97%;
}
.border-div-purple::before{
  content: '';
  position: absolute;
  border: solid 1px #c0c0c0;
  width: 95%;
  top: 0;
}
.border-div-purple::after{
  content: '';
  position: absolute;
  border: solid 1px #c0c0c0;
  width: 95%;
  bottom: 0;
}
.standard-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1.5rem;
}
/* .off-white-check{  
  color: #ffff !important;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 3rem;
  
} */
/* .middle-content-box {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.end-content-box {
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}
@media (min-width: 1024px) {
  .content-box {
    border-top-left-radius: 2.2rem;
    border-top-right-radius: 2.2rem;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
  }
}
.middle-content-box {
  border-top-left-radius: 1.3rem;
  border-top-right-radius: 1.3rem;
}
@media (min-width: 1024px) {
  .middle-content-box {
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
  }
}
.end-content-box {
  border-top-left-radius: 1.3rem;
  border-top-right-radius: 1.3rem;
}
@media (min-width: 1024px) {
  .end-content-box {
    border-bottom-left-radius: 2.2rem;
    border-bottom-right-radius: 2.2rem;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
  }
} */ */
